Package: com.creaturesurvive.motuumls
Name: motuumLS
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Customize your lockscreen your way!
Maintainer: CreatureSurvive <dbuehre@me.com>
Depiction: https://creaturesurvive.github.io/depictions/com.creaturecoding.sera/index.html
Author: CreatureSurvive <dbuehre@me.com>
Section: Tweaks
Version: 0.0.7
Installed-Size: 500
