Package: com.creaturesurvive.motuumls
Name: motuumLS
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Customize your lockscreen your way!
Maintainer: CreatureSurvive <dbuehre@me.com>
Depiction: Just starting to update sera for ios 10
Author: CreatureSurvive <dbuehre@me.com>
Section: Tweaks
Version: 0.0.2
Installed-Size: 512
